.HeaderComponent {
    width: 100%;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    display:flex;
    align-items: center;
}

/* .user {
} */

.airplane {
    margin: 20px;
    height: 90px;
}

.sisat{
    font-size: 35px;
    font-weight: 700;
    color: rgb(111, 36, 180);
    cursor: pointer;
}

.nome {
    margin: 10px;
    position: absolute;
    top: 0;
    right:0;
    cursor: pointer;
}

.menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.buttons {
    font-weight: 700;
    cursor: pointer;
}