.LineComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
}

.icon {
  cursor: pointer;
}

.content {
  text-align: center;
}

.icons {
  text-align: center;
}

.iconStatus {
  width: 24px;
  height: 24px;
}
